#top-bar {
    background-color: #FBDBE9 ;
    height: 160px;
   border-top: solid #FBDBE9 10px;
   display: grid;
   grid-template-columns: [first] 173px [line2] 861px;
}

Body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #F8EDE8;
        font-family: "acumin-variable",sans-serif;
        font-variation-settings: 'wght' 700, 'wdth' 100, 'slnt' 0;
        src: url(https://fonts.adobe.com/fonts/acumin-variable?vf-instance=Bold&vf-font-size=100&vf-font=AcuminVF);
        font: large;
        color: white;
}

#main-container {
    background-color: #F8EDE8;
    width: 1024px;
    height: 3000px;
    border: solid 1px black;
    margin: none;
    padding: none;
}

ul { 
    display: flex;
    justify-content: space-evenly;
   list-style-type: none;
   /* border: black solid 5px; */
   width: 851px;
   margin-top: 40px;

}

li:hover {
 color: #FBDBE9;
}

#pretty-bar {  
    height: 217px;
   border: 1px solid black;
   margin-bottom: 85px;
}

#about {    
    background-color: #FBDBE9;
    height: 365px;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: [first] 300px [line2] 300px [Line3] 300px;
}

#words {
    /* display: grid;
    grid-template-columns: [first] 100px [line2] 100px;
    grid-template-rows: 100px ; */
    display: flex;
    height: 216px;
    width: 300px;
    background-color: #C9799E;
    border: black solid 5px;
  /* position: relative; left: 200px; bottom: 300px; */
}

#list {
    background: round #C9799E ;
    height: 45px;
    width: 125px;
    margin: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#writing {
    background-color: #FBDBE9;
    height: 770px;
    margin-top: 36px;
    
}

#PinkAbout{
    background-color: #C9799E;
    width: 229px ;
   
    text-align: center;
    padding-top: 150px;
   padding-bottom: 178px;

}

#ArtTitle {
    background-color: #C9799E;
    height: inherit;
    width: 229px;
    padding-top: 150px;
    
}

#works {
    height: 777px;
    width: 1024px;
    background-color: #FBDBE9;
}

#contact {
    height: 257px;
    background-color: #FBDBE9;
    width: 1024px;
}

#Squares {
    background-color: #C9799E;
    width: 229px ;
    height: 157px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#logo {
    margin-left: 10px;
    /* border: black solid 5px; */
}