#top-bar {
    background-color: #FBDBE9 ;
    height: 160px;
   border-top: solid #FBDBE9 10px;
   display: grid;
   grid-template-columns: [first] 173px [line2] 861px;
}

Body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #F8EDE8;
        font-family: "acumin-variable",sans-serif;
        font-variation-settings: 'wght' 700, 'wdth' 100, 'slnt' 0;
        src: url(https://fonts.adobe.com/fonts/acumin-variable?vf-instance=Bold&vf-font-size=100&vf-font=AcuminVF);
        font: large;
        color: white;
}

#main-container {
    background-color: #F8EDE8;
    width: 1024px;
    height: 3000px;
    border: solid 1px black;
    margin: none;
    padding: none;
}

ul { 
    display: flex;
    justify-content: space-evenly;
   list-style-type: none;
   /* border: black solid 5px; */
   width: 851px;
   margin-top: 40px;

}

li:hover {
 color: #FBDBE9;
}

#pretty-bar {  
    height: 217px;
   border: 1px solid black;
   margin-bottom: 85px;
}

#about {    
    background-color: #FBDBE9;
    height: 365px;
    /* justify-content: space-evenly; */
        display: grid; 
        grid-template-rows: auto;
        grid-template-columns: [First] auto [Line2] auto [Line3] auto;

}

#words {
    display: flex;
    height: 280px;
    width: 305px;
    background-color: #C9799E;
    border: black solid 5px;
    padding-left: 5px;
}


#wordstwo {
    display: flex;
    height: 150px;
    width: 300px;
    background-color: #C9799E;
    border: black solid 5px;
    padding: 10px;
    position: relative; top: 50px;

}


#list {
    background: round #C9799E ;
    height: 45px;
    width: 125px;
    margin: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#writing {
    background-color: #FBDBE9;
    height: 770px;
    margin-top: 36px;
    display: grid;
    grid-template-columns: [First] 300px [Line2] 350px [Line3] 350px;
    grid-template-rows: [row1-start] 300px [row2-start] 250px [row3-start] 100px;
}

#quotes {
    height: fit-content; 
    background-color: #C9799E;
    width: fit-content;
    padding: 20px;
    margin: 40px;
    margin-top: 60px;
}

#PinkAbout{
    background-color: #C9799E;
    width: 229px ;
    text-align: center;
    padding-top: 150px;
   padding-bottom: 178px;
    position: relative;
    top: -22px;
}


#contact {
    height: 257px;
    background-color: #FBDBE9;
    width: 1024px;
    border: black 1px solid;
    margin-top: 20px ;
    display: grid;
    grid-template-columns: [First]229px [line2] 795px;
    

}

#contactinfo {
    height:257px;
    width: 500px;
    display: flex;
    border: black solid 2px;
 justify-content: center ;
    justify-self: center;
    /* justify-content: space-between; */
    padding-top: 40px;
    margin-top: 0px;

}

#Squares {
    background-color: #C9799E;
    width: 229px ;
    height: 157px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-top: 0px;
}

#logo {
    margin-left: 10px;
}

#PinkAboutMe {
    background-color: #C9799E;
    width: 229px ;
   position: relative; top: -22px;
    text-align: center;
    padding-top: 150px;
   padding-bottom: 178px;
   }

   #PinkAboutWriting {
    background-color: #C9799E;
    width: 229px ;
   position: relative; top: -22px;
    text-align: center;
    padding-top: 150px;
   padding-bottom: 178px;
   }

   #ViewMore {
    background-color: #C9799E;
    width: 500px;
    height: 50px;
    padding: 30px;
    margin-left: 250px;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
    /* padding-top: 30px; */
}

#Art {

border: #C9799E solid 10px;
margin: 20px;

}

#works {
    height: 777px;
    width: 1024px;
    background-color: #FBDBE9;
    margin-top: 36px;
    display: grid;
  grid-template-columns: [First] 300px [Line2] 400px [Line3] 400px ;
    grid-template-rows: [row1-start] 400px [row2-start] 300px ;
/* grid-template-columns:[First] 500px [Line2] 400px ; */
 
}
#Ring{
    border: #C9799E solid 10px;
margin: 50px;
position: relative;
left: 180px;
}

#Photoshop {
    border: #C9799E solid 10px;
margin: 50px;
position: relative;
left: 60px;
}

